/*
 * Custom CSS
 */

:root {
  --bs-body-bg: var(--bs-gray-100);
}

body {
  font-family: 'Roboto Serif', serif; /* Set Roboto Serif as primary font */
}

/* Optional: Override headings font */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Serif', serif;
}

/* .card {
  margin-top: 40px;
  margin-bottom: 40px;
} */

/* .page-container {
  position: relative;
  min-height: 100vh; 
} */

/* .non-footer-content {
  padding-bottom: 12rem; This should be same a height of the footer 
} */

/* .header {
  width: 100%;
  height: 12rem;
  background-color: red;
} */

/* .footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12rem;

  background-color: orangered;
} */

/* .summary-content {
  background-color: yellow;
}

.header {
  background-color: orangered;
}

.footer {
  background-color: red;
} */

/* .prof-summary-content {
  width: 70%;
} */

/* .carousel-dimensions {
  width: 100%;
  height: 30vh;
} */

/* header {
  display: none;
} */

/* .temp {
display : none
} */